---
layout: default
title: Home Page
description: The homepage of the blog of the recluse known only as Emmanuel Menon
---
{% for post in paginator.posts %}
	<div class="post-teaser">
		<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
		<h6>{{ post.date | date: "%B %d, %Y" }}</h6>
		<p>{{ post.excerpt | strip_html  }}(<a href="{{ post.url }}">Continue Reading</a>)</p>
	</div>
	<hr>
{% endfor %}

{% if paginator.total_pages > 1 %}
	<div class="paginator">
		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}
				<a class="left" href="/">&larr; Newer</a>
			{% else %}
				<a class="left" href="/page{{paginator.previous_page}}/">&larr; Newer</a>
			{% endif %}
		{% else %}
			<span class="greyed left">&larr; Newer</span>
		{% endif %}

		<span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

		{% if paginator.next_page %}
			<a class="right" href="/page{{paginator.next_page}}/">Older &rarr;</a>
		{% else %}
			<span class="greyed right">Older &rarr;</span>
		{% endif %}
	</div>
{% endif %}
