---
layout: default
title: Home Page
---
<div class="spotlight">
{% for post in site.posts limit:1 %}
     <a href="{{ post.url }}"><img src="{{ post.headerimage }}" class="spotlight spotlight-image"></a>
     <div class="text-block">
         <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
         <h4>{{ post.date | date: '%B %d, %Y' }}</h4>
         <p>{{ post.excerpt | strip_html }}<a href="{{ post.url }}">[...]</a></p>
     </div>
{% endfor %}
</div>

<div class="latest-posts-container">
    <h1 style="padding-left: 1.25rem;">Latest Mind Dumps</h1>
    {% for post in site.posts offset:1 limit:3 %}
    <div class="latest-post">
        <img src="{{ post.headerimage }}">
        <div class="latest-post-text">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <h4>{{ post.date | date: '%B %d, %Y' }}</h4>
            <p>{{ post.excerpt | strip_html }}<a href="{{ post.url }}">[...]</a></p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="resume-banner">
    <h1>LOOKING FOR MY RESUME?</h1>
    <h4>You can check it out <a href="/resume">here</a>.</h4>
</div>

<div class="latest-posts-container">
    {% for post in site.posts offset:4 limit:5 %}
    <div class="latest-post">
        <img src="{{ post.headerimage }}">
        <div class="latest-post-text">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <h4>{{ post.date | date: '%B %d, %Y' }}</h4>
            <p>{{ post.excerpt | strip_html }}<a href="{{ post.url }}">[...]</a></p>
        </div>
    </div>
    {% endfor %}
    <div class="latest-post">
    <h4 style="margin: 1rem auto;"><a href="/archive">More Posts...</a></h4>
    </div>
</div>
