<footer>
    <form method="get" id="search" action="https://www.google.com/search">
        Search:
        <input type="hidden" name="sitesearch" value="emmanuelmenon.com">
        <input class="search" type="text" name="q" size="35" maxlength="256">
        <button type="submit" value="Search" class="hide"></button>
    </form>
    <h3 class="center-text">Emmanuel Harish Menon &copy; {{ site.time | date: '%Y' }}</h3>
    <h4 class="center-text"><a href="/feed.xml">RSS Feed</a> | <a href="/sitemap.xml">Sitemap</a> | <a href="/tag">Categories</a></h4>
</footer>
