{% assign active = page.url | downcase | split: '/' %}
<nav id="navBar">
    <ul>
        <div class="logo"><li><a href="/">emmanuel harish menon</a></li></div>
        <li class="desktopHidden right"><a href="javascript:void(0)" onclick="navCheck()"><i class="fa fa-bars"></i></a></li>

        <div class="left">
            <li class="overlayContent"><a href="/about" {% if active[1] == 'about' %}class="active"{% endif %}>About</a></li>
            <li class="overlayContent"><a href="/resume" {% if active[1] == 'resume' %}class="active"{% endif %}>Resumé</a></li>
        </div>

        <div class="right">
            <li class="overlayContent"><a href="https://letterboxd.com/emmanuelmenon/"><i class="fa fa-external-link"></i>  Letterboxd</a></li>
            <li class="overlayContent"><a href="https://www.youtube.com/channel/UCacVgm8W7PZ_ykkMx4z-mBg/"><i class="fa fa-external-link"></i>  YouTube</a></li>
        </div>
    </ul>
</nav>
