<hr class="desktopHidden">
<div id="sidebar">
    <nav>
        <ul>
            <li><a href="/">Home <i class="fas fa-home fa-fw"></i></a></li>
            <li><a href="/about">About <i class="fas fa-id-badge fa-fw"></i></a></li>
            <li><a href="/archive">Archive <i class="fas fa-archive fa-fw"></i></a></li>
            <li><a href="/Resume.pdf">Resumé <i class="fas fa-file-pdf fa-fw"></i></a></li>
            <li><a href="https://letterboxd.com/emmanuelmenon/">Letterboxd <i class="fas fa-film fa-fw"></i></a></li>
        </ul>
    </nav>
</div>
