/* code highlighting - monokai */
@import url(codehighlighting.css);

/* fonts */
@import url(/assets/fonts/Montserrat/Montserrat.css);
@font-face { font-family: 'Mini Story'; src: url('/assets/fonts/MiniStory.ttf') format("truetype"); } /* Mini Story*/

/*css reset - Eric Meyer*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* basic */
body {
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
}
footer { padding: 1rem 2.5rem; display: block; background-color: black; color: white; }
footer p { word-spacing: 0; }
.search { border-radius: 1.5rem; padding-left: 0.5rem; }
#content { margin-top: 4rem; }
footer #search { margin: 0.9rem auto; text-align: center; }

/* typography */
h1 { font-size: 2.5em; font-weight: 700; line-height: 1; margin: 0.5em 0; }
h2 { font-size: 1.75em; font-weight: 600; line-height: 1; margin: 0.714em 0; }
h3 { font-size: 1.375em; font-weight: 500; line-height: 0.9; margin: 0.9em 0; }
h4 { font-size: 1.125em; font-weight: 400; line-height: 1.11; margin: 1.11em 0; }
b, strong { font-weight: 600; }
i, em { font-style: italic; }
sup { vertical-align: super; font-size: smaller; }
sub { vertical-align: sub; font-size: smaller; }
p .note { font-size: 0.875em; line-height: 1.43; margin: 1.43em 0;}
p {
	font-size: 1em;
	font-weight: 400;
	word-spacing: 0.25em;
	line-height: 1.25;
	margin: 1.25em 0;
}
blockquote {
	margin: 1.25em;
	font-style: italic;
	color: #666666;
}

/* links */
a { color: inherit; font-weight: bolder; text-decoration: none; }
a:hover { text-decoration: underline; }
p a, li a { text-decoration: underline; }
p a:hover, #content li a:hover { background-color: lightgrey; }

/* lists */
#content ul li { list-style-type: disc; }
#content ol li { list-style-type: decimal-leading-zero; }
#content ul li, #content ol li {
	list-style-position: inside;
	margin: 0 1.25em;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.25;
}

/* highlight */
::-moz-selection, ::selection { color:black; background: #FFFF66; }

/* navbar */
nav {
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	color: white;
	background-color: black;
}
nav ul {
	overflow: hidden;
	list-style-type: none;
	padding: 0.25rem 0.5rem;
}
nav li a {
	display: block;
	border: 0.1rem hidden black;
	border-radius: 0.75rem;
	padding: 1rem;
	margin: 0.25rem;
	text-align: center;
	text-decoration: none;
}
.left li { float: left; }
.right li { float: right; }
.active { background-color: white; color: black; }
.logo a { padding: 0.1rem; }
.logo a:hover { text-decoration: none; }
.logo {
	font-family: 'Mini Story', 'Montserrat', sans-serif;
	font-size: 2.5rem;
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* front-page */
.spotlight { position: relative; height: 100vh; }
.spotlight-image { width:100%; object-fit: cover; }
.text-block {
	position: absolute;
	width: 25em;
    bottom: 1rem;
    right: 1rem;
    background-color: black;
    color: white;
    padding: 0 1.25rem;
}
.latest-posts-container { width: 66rem; border-right: 0.1em solid darkgrey; border-top: 0.1rem solid darkgrey; }
.latest-post { display: flex; border-top: 0.1rem solid darkgrey;
}
.latest-post-text { float: left; padding: 0 1rem; max-width: 40rem; }
.latest-post img { object-fit: cover; width: 42%; }
.resume-banner { background-color: black; color: white; border-top: 0.1rem solid darkgrey; padding: 1rem;}

/* posts */
.post { width: 35em; margin: 5rem auto 0; }
.post-meta { font-size: smaller; text-align: center; font-style: italic; word-spacing: 0.1em; }
#markdown-toc li { list-style-type: lower-roman !important; }
#markdown-toc::before { content: "Table of Contents:"; font-weight: bold; }
#markdown-toc {
    border: 0.1rem solid lightgrey;
	margin-top: 0.75em;
    padding: 0.5rem 1.5rem;
    display: inline-block;
}

/* other main pages */
.basepage {
	width: 60em;
	margin: 0 auto;
	padding: 1rem 2.5rem;
	border-left: 0.1rem solid lightgrey;
	border-right: 0.1rem solid lightgrey;
}

/* intrinsic ratio embed - Thierry Koblentz */
.videoWrapper {
  position: relative;
  padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
  height: 0;
}
.videoWrapper iframe,
.videoWrapper embed,
.videoWrapper object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* useful classes */
.noMargin { margin: 0; }
.marginCenter { margin: 0 auto; }
.left { float: left; }
.right { float: right; }
.center-text { text-align: center; }
.smaller-text { font-size: smaller; }
.larger-text { font-size: larger; }
.uppercase-text { text-transform: uppercase; }
.lowercase-text { text-transform: lowercase; }
.hide { display: none; }
.desktopHidden { display: none; }

/* mobile! */
@media only screen and (max-device-width: 65.5em) {
	.desktopHidden { display: inherit!important; }

	/* navbar */
	nav ul div.right, nav ul div.left, .right li, .left li { float: none; }
	.logo { font-size: 1.75em; margin-top: 0.5rem; float: left; position: inherit; transform: none; }
	.overlayContent { display: none; }
	nav ul li.overlayContent { width: 100%; }
	nav {
		width: 100%;
		overflow: hidden;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		overflow-x: hidden;
	}

	/* front page */
	.spotlight { height: auto; }
	.spotlight-image { max-height: 15rem; object-fit: cover; }
	.text-block {
		position: initial;
		margin-top: -1rem;
		width: auto;
		padding: 0.5rem 1.25rem;
		text-align: center;
	}
	.latest-posts-container { width: auto; border-left: 0.1rem solid darkgrey; }

	/* other main pages */
	.basepage, .post { width: auto; margin-top: 0; border: 0; padding: 0 0.75rem; overflow: auto; }
	.basepage h1, .post h1, .post-meta { text-align: center; }

	/* footer */
	footer { font-size: smaller; }
}
