---
layout: default
---
<article class="post">
    {% if page.external-url %}
        <h1><a href="{{ page.external-url }}">{{ page.title }}</a></h1>
    {% else %}
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    {% endif %}
    <div class="post-content">{{ content }}</div>
    <hr>
    <p class="meta">Posted on <span class="postdate">{{ page.date | date: "%b %d, %Y" }}</span></p>
    <p class="meta">Tagged with:&nbsp;
        {% for tag in page.tags %}
            <a href="/tags/{{ tag }}/"><i class="fa fa-tag fa-xs"></i>{{ tag }}</a>
            {% unless tag == page.tags.last %}&nbsp;/&nbsp;&nbsp;{% endunless %}
        {% endfor %}
    </p>
    {% if page.comments %}
        <hr>
        <style>#footer{margin-top: 0;}</style>
        <div id="disqus_thread"></div>
        <script>
        var disqus_config = function () {
            this.page.url = "{{site.url}}{{page.url}}";
            this.page.identifier = "{{page.url}}";
        };
        (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://emmanuelmenon.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>
            Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
        </noscript>
    {% endif %}
</article>
