---
layout: default
---
<article>
    <h1>{{ page.title }}</h1>
    <div>{{ content }}</div>
    <div class="post-meta">
        <hr>
        <p>Written by: Emmanuel Menon<p>
        <p>Posted on: {{ page.date | date: "%b %d, %Y" }}</p>
        <p>Tagged with:
            {% for tag in page.tags %}
                <a href="/tag/{{ tag }}/"><i class="fa fa-tag fa-xs"></i>{{ tag }}</a>
                {% unless tag == page.tags.last %}&{% endunless %}
            {% endfor %}
    </div>
</article>
