---
layout: default
---
<article class="post">
    {% if page.external-url %}
    <h1>
			<a href="{{ page.external-url }}">{{ page.title }}</a>
		</h1> {% else %}
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1> {% endif %}
    <div class="post-content">{{ content }}</div>
    <hr>
    <p class="meta">Posted on <span class="postdate">{{ page.date | date: "%b %d, %Y" }}</span></p>
    <p class="meta">Tagged with: {% for tag in page.tags %}
        <a href="/tags/{{ tag }}/"><i class="fa fa-tag"></i>{{ tag }}</a>
        {% endfor %}
    </p>
</article>
